.vtb-header {
    background-color: #00367c;
    height: 50px;
}

.vtb-logo img {
    position: absolute;
    z-index: 1000;
    top: 10px;
    left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.vtb-logo {
    height: 80px;
}

.vtb-user-photo {
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    border: 1px solid #00367c;
    margin: 15px;
}

.card {
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #00367c;
    min-height: 450px;
    width: 250px;
}

.card-body {
    width: 100%;
    background-color: white;
}

.vtb-list {
    font-size: 20pt;
    cursor: pointer;
    font-weight: 300;
    border-bottom: 1px solid #00367c;
    padding: 10px;
}

.vtb-about-task {
    font-size: 18pt;
    font-weight: 300;
    padding: 10px 0;
}

.vtb-header-task {
    font-size: 24pt;
    font-weight: 400;
    padding: 16px 0;
}

.btn-primary{
    background-color: #00367c;
    border-color: #00367c;
}